{% macro show_safaribabe(safaribabes) %}
<div class="card adjust-height">
  <div class="card-content">
    <div class="content">
      <h2>{{ safaribabes['saf_title'] }}</h2>
      <h4>{{ safaribabes['saf_spec'] }}</h4>
      <p>{{ safaribabes['saf_descripts'] }}</p><br>
    </div>
  </div>
</div>
{% endmacro %}

{% macro show_safaribabes(safaribabes) %}
<div>
  {% for safaribabe in safaribabes %}
  <div>
    {{ show_safaribabe(safaribabe) }}
  </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro show_test(tests) %}
<div class="card adjust-height">
  <div class="card-content">
    <div class="content">
      <h2>{{ tests['farm_title'] }}</h2>
      <h4>{{ tests['farm_spec'] }}</h4>
      <p>{{ tests['farm_descripts'] }}</p><br>
    </div>
  </div>
</div>
{% endmacro %}

{% macro show_tests(tests) %}
<div>
  {% for test in tests %}
  <div>
    {{ show_test(test) }}
  </div>
  {% endfor %}
</div>
{% endmacro %}


<!-- {% macro show_science(sciences) %}
<div class="card adjust-height">
  <div class="card-content">
    <div class="content">
      <h2>{{ sciences['scifi_title'] }}</h2>
      <h4>{{ sciences['scifi_author'] }}</h4>
      <p>{{ sciences['scifi_descript'] }}</p><br>
    </div>
  </div>
</div>
{% endmacro %}

{% macro show_sciences(sciences) %}
<div>
  {% for science in sciences %}
  <div>
    {{ show_science(science) }}
  </div>
  {% endfor %}
</div>
{% endmacro %}


{% macro show_manga(mangas) %}
<div class="card adjust-height">
  <div class="card-content">
    <div class="content">
      <h2>{{ mangas['mang_title'] }}</h2>
      <h4>{{ mangas['mang_author'] }}</h4>
      <p>{{ mangas['mang_descript'] }}</p><br>
    </div>
  </div>
</div>
{% endmacro %}

{% macro show_mangas(mangas) %}
<div>
  {% for manga in mangas %}
  <div>
    {{ show_manga(manga) }}
  </div>
  {% endfor %}
</div>
{% endmacro %} -->
