{% extends "layout.html"%}
{% block content %}
<section class="hero is-primary is-medium has-bg-img">
<div class="hero-body">
  <div class="container">
    <h1 class="title">
      Animal Babies!
    </h1>
    <h2 class="subtitle">
      Lets meet baby animals from all around the world!
    </h2>
  </div>
</div>
</section>
  <div class="container">
    <br>
    <h2> <a href="/safaribabes">Safari Baby Animals</a></h2>
    <h2> <a href="/tests">Farm Animals</a></h2>
    <h2> <a href="/lamb">Baby Lambs</a></h2>
{% endblock %}
