{% extends "layout.html"%}
{% block content %}
  </div>
  <div class="container">
    <h1>Meet your next favorite book!</h1>
    <br>
  </div>
  <div class="container">
    <p>Deciding what to read next?</p>
    <p>What are your friends reading?</p>
    <p>Are you an author or a publisher?</p>
    <br>
  </div>
  <div class="container">
    <p>Browse Books</p>
    <br>
    <p> <a href="/safaribabes">Manga</a></p>
    <p> <a href="/comics">comics</a></p>
    <p> <a href="/SciFi">SciFi</a></p>
{% endblock %}
