{% from '_macros.html' import show_safaribabe, show_safaribabes with context %}
{% from '_macros.html' import show_test, show_tests with context %}

<!doctype html>
<html>
<header>
<img src="/static/bunny.jpg" alt="picture of baby animals" height="100" width="100">
</header>
  <head>
    <title>final assignment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  </head>
  <body>
  <div class="container top">
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
